@model Post
<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">@Model.Title</h1>
            <div class="tags">
                @foreach(var tag in Model.Tags)
                {
                <a href="#" class="badge bg-danger bg-opacity-10 text-@tag.Color mb-2 fw-bold">@tag.Text</a>
                }
                <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Web programlama</a>
            </div>
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="">
            <p>@Html.Raw(@Model.Content)</p>
        </div>
        <div class="bg-white mt-3">
            <div class="card border-0">
                <div class="card-header pb-0">
                    <h4> <span id="commentCount">@Model.Comments.Count()</span> Adet Yorum</h4>
                </div>
                <div class="card-body">
                    <div id="comments">
                        @foreach(var comment in Model.Comments)
                        {
                        <div class="my-4 d-flex">
                            <img src="~/img/@comment.User.Image" alt="" class="avatar rounded-circle fload-start me-3">
                            <div>
                                <div class="mb-2 d-flex">
                                    <h6 class="me-2">@comment.User.UserName</h6>
                                    <small>@comment.PublishedOn.ToString("G")</small>
                                </div>
                                <p>@comment.Text</p>
                            </div>
                        </div>
                        }
                    </div>
                    <hr class="my-4">
                    @if(User.Identity!.IsAuthenticated)
                    {
                    <div>
                        <h4>Yorum Ekle</h4>
                        <form action="/posts/addComment" method="post">
                            <input type="hidden" name="PostId" id="PostId" value="@Model.PostId">

                            <div class="mb-3">
                                <label for="Text" class="form-label">Yorum</label>
                                <textarea type="text" name="Text" id="Text" class="form-control"></textarea>
                            </div>
                            <div class="">
                                <button id="btnYorumKayit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>
                    }else{
                    <span>Yorum yazmak için lütfen giriş yapın <a href="/users/login">Login</a></span>
                    }

                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-4">

        <vc:tags-menu></vc:tags-menu>
        <div>
            <vc:new-posts></vc:new-posts>

        </div>
    </div>
</div>

@section Scripts {
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnYorumKayit").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("addComment")',
                dataType: 'Json',
                data: {
                    PostId: $('#PostId').val(),
                    UserName: $('#UserName').val(),
                    Text: $('#Text').val(),

                },
                success: function (yorum) {
                    $("#comments").append(`
                    <div class="my-4 d-flex">
                            <img src="/img/${yorum.image}" alt="" class="avatar rounded-circle fload-start me-3">
                            <div>
                                <div class="mb-2 d-flex">
                                    <h6 class="me-2">${yorum.username}</h6>
                                    <small>${yorum.publishedOn}</small>
                                </div>
                                <p>${yorum.text}</p>
                            </div>
                        </div>
                    `);

                    $('#UserName').val('');
                    $('#Text').val('');
                    var adet = parseInt($("#commentCount").text());
                    $("#commentCount").text(adet + 1);
                }

            });
            return false;
        });
    });
</script>
}